@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@100;300;400;500;600;700&display=swap');
:root {
    --global-font: "Poppins", sans-serif;
    --global-subfont: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--global-font);
    font-weight: bold;
}

p {
    font-family: var(--global-font);
    font-weight: normal;
}

a,
button,
input,
code {
    font-family: var(--global-subfont);
    font-weight: inherit;
}

h1 a, h2 a {
    font-family: var(--global-font);
}