@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif
}

::-webkit-scrollbar {
    display: none;
}

div#userwayAccessibilityIcon.uai {
    top: 5.5rem;
    right: 7rem;
    transform: translateX(-4rem);
}

@tailwind base;
@tailwind utilities;
@tailwind components;